table{
    width: 40%;
    border-collapse: collapse;
    margin: 5%;
    font-family: Arial, sans-serif;
}
td{
    border: 1px solid black;
    text-align: center;
}
.TV{
    height: 150px;
    width: 50px;
}
.DKTV{
    height: 200px;
    width: 40px;
}